* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left ,
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left{
  background-color: black;
  position: relative;
}

.left .code,
.code pre,
.code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: rgb(28, 26, 26);

}

main .left .review{
  position: absolute;
  bottom: 1rem;
  background-color: rgb(75, 75, 168);
  color: black;
  padding: 0.5rem 2rem;
  border-radius: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;

}

main .right{
  background-color: #5a5454;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  overflow: auto;
}

main .nav{
  bottom: top;
  font: bold;
  color: rgb(156, 52, 52);
}